# --- Root stuff ---
/.pixi/
/tmp/
/todo
/secondary_structure_audit.md

# --- Root wildcards ---
/*.pdf
/data/**/*
!/data/**/*.py
!/data/**/*.md

# --- Anywhere stuff ---
# Slurm prediction logs
.rg_predict_out/
